@media (min-width: 368px) and (max-width: 990px) {
  .navigation {
    background: rgba(0, 0, 0, 0.3);
  }

  .navigation .navbar-brand {
    float: none;
  }
}
@media (max-width: 768px) {
  .img {
    margin-top: 200px;
  }
}
